# I Dizionari

Il dizionario (*dict*) è un oggetto che contiene elementi formati da coppie chiave (*key*) e valore (*value*). Piè formalmente un dizionario permette di *mappare* chiavi in valori corrispondenti.

Creazione di un dizionario:

In [1]:
a = dict() # oppure:
a = {}

In [2]:
a

{}

In [3]:
type(a)

dict

In [4]:
anagrafica = {
    'nome':'sheldon',
    'cognome':'cooper',
    'eta':30
}

In [5]:
anagrafica

{'nome': 'sheldon', 'cognome': 'cooper', 'eta': 30}

A differenza delle liste, in cui è possibile accedere a un valore dal suo indice, in un dizionare si accede ad un valore dalla sua chiave:

In [6]:
anagrafica['nome']

'sheldon'

Per conoscere le chiavi contenute in un dizionario:

In [7]:
anagrafica.keys()

dict_keys(['nome', 'cognome', 'eta'])

L'oggetto resistuito da questo metodo è un *iterabile*, cioè un oggetto su cui possiamo iterare con un ciclo, per esempio *for*:

In [8]:
for k in anagrafica.keys():
    print(k)

nome
cognome
eta

In [9]:
anagrafica['sesso'] = 'maschio'

In [10]:
anagrafica

{'nome': 'sheldon', 'cognome': 'cooper', 'eta': 30, 'sesso': 'maschio'}

Allo stesso modo, con un ciclo *for* possiamo estrarre tutti i valori associati alle chiavi, uno alla volta:

In [11]:
for k in anagrafica.keys():
    print(k, anagrafica[k])

nome sheldon
cognome cooper
eta 30
sesso maschio

Metodi importanti dei dizionari:

In [12]:
anagrafica.keys()

dict_keys(['nome', 'cognome', 'eta', 'sesso'])

In [13]:
anagrafica.values()

dict_values(['sheldon', 'cooper', 30, 'maschio'])

In [14]:
anagrafica.items()

dict_items([('nome', 'sheldon'), ('cognome', 'cooper'), ('eta', 30), ('sesso', 'maschio')])

In [17]:
anagrafica[0] = "ciao"

In [18]:
anagrafica

{'nome': 'sheldon',
 'cognome': 'cooper',
 'eta': 30,
 'sesso': 'maschio',
 0: 'ciao'}

In [19]:
dir(anagrafica)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

Aggiungere un elemento a un dizionario:

In [20]:
anagrafica['citta'] = 'galveston'

In [21]:
anagrafica

{'nome': 'sheldon',
 'cognome': 'cooper',
 'eta': 30,
 'sesso': 'maschio',
 0: 'ciao',
 'citta': 'galveston'}

In [22]:
del anagrafica[0]

In [23]:
anagrafica

{'nome': 'sheldon',
 'cognome': 'cooper',
 'eta': 30,
 'sesso': 'maschio',
 'citta': 'galveston'}

Posso collezionare dizionari in una lista:

In [24]:
bbt = [
    {
        'nome':'sheldon',
        'cognome':'cooper',
        'citta':'galveston'
    },
    {
        'nome':'leonard',
        'cognome':'hofstadter',
        'citta':'new jersey'
    },
    {
        'nome':'rajesh',
        'cognome':'koothrappali',
        'citta':'new dehli'
    },
    {
        'nome':'howard',
        'cognome':'wolowitz',
        'citta':'new york'
    }
]

In [25]:
for person in bbt:
    print(person)

{'nome': 'sheldon', 'cognome': 'cooper', 'citta': 'galveston'}
{'nome': 'leonard', 'cognome': 'hofstadter', 'citta': 'new jersey'}
{'nome': 'rajesh', 'cognome': 'koothrappali', 'citta': 'new dehli'}
{'nome': 'howard', 'cognome': 'wolowitz', 'citta': 'new york'}

In [26]:
alpha = {
    0: 'ciao',
    1: {
        'nome':'mbuto',
        'cognome': 'antani'
    }
}

In [27]:
alpha

{0: 'ciao', 1: {'nome': 'mbuto', 'cognome': 'antani'}}

In [28]:
alpha[1]['nome']

'mbuto'

## Esercitazione

Elencare tutti i nomi propri:

In [31]:
for person in bbt:
    print(person['nome'], person['cognome'])

sheldon cooper
leonard hofstadter
rajesh koothrappali
howard wolowitz

Elencare tutti i cognomi:

In [30]:
for person in bbt:
    print(person['cognome'])

cooper
hofstadter
koothrappali
wolowitz

## Eseritazione

Elencare i nomi in ordine alfabetico. Usare il metodo **.sort()** o la funzione **sorted()**

In [32]:
nomi = []

for person in bbt:
    nomi.append(person['nome'])

In [33]:
nomi

['sheldon', 'leonard', 'rajesh', 'howard']

In [34]:
nomi.sort()

In [35]:
nomi

['howard', 'leonard', 'rajesh', 'sheldon']

In [36]:
for nome in nomi:
    print(nome)

howard
leonard
rajesh
sheldon

# Creare dizionari programmaticamente

Creiamo un dizionario con un algoritmo.  
Vogliamo che il dizionario, che chiamaremo *quintupli*, abbia come chiave i primi 5 numeri interi e come valori i suoi quintupli.  
Esempio:  

```python
{
    1: 5,
    2: 10,
    3: 15,
    4: 20,
    5: 25
}
```

In [37]:
quintupli = {}

In [38]:
for n in range(1,6):
    quintupli[n] = n * 5

In [39]:
quintupli

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25}

In [ ]:
cittadini = [
    {
        'nome':"",
        
    }
]

# Importare il dataset sui 500 migliori album del XX secolo (secondo la rivista Rolling Stones)

In [1]:
import pandas as pd

albums = pd.read_csv("albumlist.csv")
albums = albums.to_dict(orient='records')

In [2]:
albums[:3]

[{'Number': 1,
  'Year': 1967,
  'Album': "Sgt. Pepper's Lonely Hearts Club Band",
  'Artist': 'The Beatles',
  'Genre': 'Rock',
  'Subgenre': 'Rock & Roll, Psychedelic Rock'},
 {'Number': 2,
  'Year': 1966,
  'Album': 'Pet Sounds',
  'Artist': 'The Beach Boys',
  'Genre': 'Rock',
  'Subgenre': 'Pop Rock, Psychedelic Rock'},
 {'Number': 3,
  'Year': 1966,
  'Album': 'Revolver',
  'Artist': 'The Beatles',
  'Genre': 'Rock',
  'Subgenre': 'Psychedelic Rock, Pop Rock'}]

In [4]:
len(albums)

500

## Esercizio

Qual è l'anno meno recente di pubblicazione? e il più recente?   
- Suggerimento: a partire dal dizionario costruisci una lista con tutti gli anni di pubblicazione e poi usa le funzioni min() e max() per trovare il più vecchio e il più recente

In [ ]:
# svolgimento

In [8]:
anni = []

for album in albums:
    anni.append(album['Year'])

In [10]:
max(anni)

2011

In [11]:
min(anni)

1955

In [13]:
anni = []

for al in albums:
    anni.append(al['Year'])
    
print("Il disco più vecchio è del", min(anni))
print("Il disco più nuovo è del", max(anni))

Il disco più vecchio è del 1955
Il disco più nuovo è del 2011

## Esercizio

Elenca tutti i generi presenti nella collezione, senza ripetizioni (la chiave per il genere, nel dizionario, è **Genre**)

In [ ]:
# svolgimento

In [14]:
generi = []

for a in albums:
    generi.append(a['Genre'])

In [16]:
generi_unique = []

for gen in generi:
    if gen not in generi_unique:
        generi_unique.append(gen)

In [19]:
generi_unique

['Rock',
 'Rock, Pop',
 'Funk / Soul',
 'Rock, Blues',
 'Jazz',
 'Jazz, Rock, Blues, Folk, World, & Country',
 'Funk / Soul, Pop',
 'Blues',
 'Pop',
 'Rock, Folk, World, & Country',
 'Folk, World, & Country',
 'Classical, Stage & Screen',
 'Reggae',
 'Hip Hop',
 'Jazz, Funk / Soul',
 'Rock, Funk / Soul, Pop',
 'Electronic, Rock',
 'Jazz, Rock, Funk / Soul, Folk, World, & Country',
 'Jazz, Rock, Funk / Soul, Pop, Folk, World, & Country',
 'Funk / Soul, Stage & Screen',
 'Electronic, Rock, Funk / Soul, Stage & Screen',
 'Rock, Funk / Soul',
 'Rock, Reggae',
 'Jazz, Pop',
 'Funk / Soul, Folk, World, & Country',
 'Latin, Funk / Soul',
 'Funk / Soul, Blues',
 'Reggae,�Pop,�Folk, World, & Country,�Stage & Screen',
 'Electronic,�Stage & Screen',
 'Jazz, Rock, Funk / Soul, Blues',
 'Jazz, Rock',
 'Rock, Latin, Funk / Soul',
 'Electronic, Rock, Pop',
 'Hip Hop, Rock, Funk / Soul',
 'Electronic, Pop',
 'Rock, Blues, Pop',
 'Electronic, Rock, Funk / Soul, Pop',
 'Rock, Funk / Soul, Folk, World, & Country',
 'Rock,�Blues',
 'Rock, Pop, Folk, World, & Country',
 'Rock, Latin',
 'Rock, Stage & Screen',
 'Rock, Blues, Folk, World, & Country',
 'Electronic',
 'Electronic, Funk / Soul, Pop',
 'Pop, Folk, World, & Country',
 'Electronic, Hip Hop, Pop',
 'Blues, Folk, World, & Country',
 'Electronic, Hip Hop, Funk / Soul, Pop',
 'Rock, Funk / Soul, Blues, Pop, Folk, World, & Country',
 'Jazz, Pop, Folk, World, & Country',
 'Jazz, Rock, Pop',
 'Hip Hop, Funk / Soul',
 'Hip Hop, Rock',
 'Electronic, Hip Hop, Funk / Soul',
 'Funk / Soul,�Folk, World, & Country',
 'Electronic, Hip Hop, Reggae, Pop',
 'Electronic, Reggae',
 'Electronic, Funk / Soul',
 'Rock, Funk / Soul, Blues',
 'Rock,�Pop',
 'Electronic, Rock, Funk / Soul, Blues, Pop',
 'Rock, Reggae, Latin']

In [14]:
generi = []

for a in albums:
    generi.append(a['Genre'])

## Esercizio

Elenca tutti gli artisti in ordine alfabetico

In [ ]:
# svolgimento